:root {
  --personal-color-black: #000000;
  --personal-color-white: #FFFFFF;
  --personal-color-gray: #4D4D4D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app > :not(hr){
  max-width: 450px;
  margin: auto;
}

.bg-image-circle {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.bg-image-square {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.redirect-box {
  width: 300px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
} */